<html>

<head>
	<title> ImageCLEF 2008 Pools </title>
</head>

<frameset rows="25%, *">
	<frame src="<%= url_for :action => :showPoolHeader, :topic_id => params[:topic_id] %>">
	<frame src="<%= url_for :action => :showpoolentries, :topic_id => params[:topic_id] , :pool_id=>params[:pool_id], :rsvp => params[:rsvp], :non_judged => params[:non_judged]%>">
</frameset>

</html>