<html>

<head>
	<title> ImageCLEF 2008 Groups </title>
</head>

	<frameset rows="200, *">
		<frameset cols="30%,70%" frameborder="0" border="0" framespacing="0">
			<--! Show File Upload Menu  -->
			<frame src="<%= url_for :action=> :upload_run %>" name='upload'">
			<--! Show Topic Samples and Query  -->
			<frame name='header'>
		</frameset>
		
		<--! Show Results -->
		<frame  name='body'>

	</frameset>





</html>