<html>

<head> 
<title> Pools </title>
<%=yield :custom_header %>


</head>
<body>
  <%= current_user.login %>
  <%= link_to 'logout', :controller => "account", :action => "logout" %>
  
<%= yield %>
</body>
</html>